.attr-cache
.cabal-sandbox
*.hi
*.o
cabal.project.local
cabal.sandbox.config
config/backend/oauthClientID-prod
config/backend/oauthClientSecret-prod
config/backend/oauthClientID-test
config/backend/oauthClientSecret-test
ctags
dist-newstyle/
dist/
ghcid-output.txt
profile/
result
result-*
tags
TAGS
